<tr ng-repeat-end="" class="tone-line">
  <th class="cell-big">TONALIDADES</th>
  <th class="cell-color"></th>
  <th class="cell-sap cell-anim"></th>
  <th class="cell-cod cell-anim"></th>
  <th class="cell-bar"></th>
  <td class="cell-tone" colspan="{{$ctrl.tableOpen ? 10 : 7}}">
    <div class="tone-group">
      <div class="tone-box">
        <span><b>N0T0N0</b> <br>PE: 250</span>
        <quantity-input ng-model="material.Cart['Qtd' + $ctrl.page.type ]" material="material" kart="$ctrl.kart" page="$ctrl.page" limits="$ctrl.params.StockLimits"></quantity-input>
      </div>
      <div class="tone-box">
        <span><b>N0T0N0</b> <br>PE: 250</span>
        <quantity-input ng-model="material.Cart['Qtd' + $ctrl.page.type ]" material="material" kart="$ctrl.kart" page="$ctrl.page" limits="$ctrl.params.StockLimits"></quantity-input>
      </div>
      <div class="tone-box">
        <span><b>N0T0N0</b> <br>PE: 250</span>
        <quantity-input ng-model="material.Cart['Qtd' + $ctrl.page.type ]" material="material" kart="$ctrl.kart" page="$ctrl.page" limits="$ctrl.params.StockLimits"></quantity-input>
      </div>
      <div class="tone-box">
        <span><b>N0T0N0</b> <br>PE: 250</span>
        <quantity-input ng-model="material.Cart['Qtd' + $ctrl.page.type ]" material="material" kart="$ctrl.kart" page="$ctrl.page" limits="$ctrl.params.StockLimits"></quantity-input>
      </div>
    </div>
  </td>
</tr>